@import "gutenberg";

@import "variables";
@import "navigation";


body, html {
  color: $color;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  a, a:visited {
    color: $color;
    text-decoration: none;
  }
}

article {
  margin-bottom: 3rem;
}

.jumbo {
  text-decoration: none;

  @media (min-width: $large-screen) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preview {
    width: 15rem;
    order: 2;
  }

  * {
    margin: 0 0.3rem;
  }
}

.description {
  @media (min-width: $large-screen) {
    display: flex;
    justify-content: space-between;
  }

  .image-link {
    order: 2;
    display: block;
    text-align: center;
  }

  * {
    margin: 0 0.3rem;
  }
}

.preview {
  width: 10rem;
}

.detail {

  .images {
    max-width: 40rem;
  }

  img {
    border: 0;
    max-width: 100%;
    display: block;
    margin: inherit auto;
  }

  .button {
    display: block;
    width: 12rem;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.2rem;
    background: $action-color;
    color: $color;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background: darken($action-color, 5%);
    }

    &:visited {
      color: $color;
    }
  }
}
