@import "variables";


.contact_form {
  line-height: 3.75em;
  margin: 0;
  padding: 2rem 0 3.5rem;
}

form input[type=text] {
  top: -.35em;
  border: none;
  background: rgba(140,140,140,.2);
  outline: 0;
  margin: 0 .25em 0 0;
  font-size: 1.125rem;
  line-height: 2em;
  padding: .3em .75em .3em;
  width: 18.75rem;
  max-width: 100%;
  transition: background .3s ease;

  &:focus {
    background: #fff;
    border-bottom: 1px solid rgba(140,140,140,.2);
  }
}

.select_contain {
  position: relative;
  display: inline-block;
  top: -.17em;
}
.select_contain select {
  padding-right: 2em;
  color: #2e3c40;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin: 0 .25em 0 0;
  outline: 0;
  border: none;
  border-radius: 0;
  background: rgba(140,140,140,.2);
  font-size: 1.125rem;
  line-height: 2em;
  padding: .3em .75em .3em;
  max-width: 100%;
  transition: background .3s ease;
}

.select_contain::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: .75em;
  z-index: 2;
  width: 1.25rem;
  height: 1.25rem;
  background: url('/images/drop_arrow.min.svg') center no-repeat;
  opacity: .8;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

form input[type=submit], .button {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.2rem;
  background: $action-color;
  color: $color;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background: darken($action-color, 5%);
  }
}
