
<h2>Ceník</h2>
<p>Cena jednodenního půjčovného je <strong>1 600,-</strong> bez DPH při OSOBNÍM ODBĚRU ve skladu v Jičíně, atrakce se pohodlně vejde do osobního vozu.</p>
<p>s dovozem a odvozem do 10 km <strong>1 800,-</strong> bez DPH.</p>
<p>Chcete-li se bavit celý víkend, máte od nás druhý den za polovinu! Při zapůjčení dvou atrakcí současně, máte od nás půjčovné na druhou atrakci s 50% slevou.</p>
