<form class="contact_form" method="post" action="https://formspree.io/josef.rousek@gmail.com" accept-charset="UTF-8">
  <input type="hidden" name="_next" value="/">
  <input type="hidden" name="_subject" value="Skákací hrady: nová poptávka">
  <p class="large">Jmenuji se <input type="text" name="jmeno" id="jmeno" placeholder="Vaše jméno">.
  Chci si půjčit atrakci
  <span class="select_contain small">
    <select name="skluzavka">
      <option value="--">--</option>
      <% data.atrakce.each do |item| %>
        <option value="<%= item.name %>"><%= item.name %></option>
      <% end %>
    </select>
  </span> na datum <input type="text" name="termin" id="termin" placeholder="Datum">. Můj telefon je <input type="text" id="telefon" name="telefon" placeholder="Telefon">.</p>
  <input type="submit" value="Odeslat poptávku">
</form>
