---
title: Skákací hrady Jičín
---

<% data.atrakce.select { |item| !item.hidden }.each do |item| %>
  <article>
    <h2><%= link_to item.name, "/atrakce/#{item.slug}" %></h2>
    <div class="description">
      <% link_to "/atrakce/#{item.slug}", class: "image-link" do %>
        <img class="preview" src="<%= photos_small(item.photos_slug).first %>" />
      <% end %>
      <p>
        <%= truncate_words(item.description) %>
        <a href="<%= "/atrakce/#{item.slug}" %>">Zjistit více</a>
      </p>
    </div>
  </article>
<% end %>

<article id="o-nas">
  <h2>O nás</h2>
  <p>
    Jsme odborníky na zábavu - jsme jičínská půjčovna nafukovacích atrakcí. Od roku 2016 si u nás můžete půjčit např. skákací hrady, skluzavky aj. zábavní atrakce pro děti. Kromě zapůjčení atrakcí zajišťujeme také jejich dovoz/odvoz a na požádání také instalaci.
  </p>
  <p>
    V naší nabídce najdete kvalitní a bezpečné atrakce, převážně od značky Happy Hop, která baví děti po celém světě a má ty nejlepší nafukovací atrakce na trhu.
  </p>
</article>

<article id="kontakt">
  <h2>Kontakt</h2>
  <p>
    Jana Fišerová<br />
    608 05 05 53<br />
    jana@skakacihradyjicin.cz
  </p>
  <h6>Fakturační údaje</h6>
  <p>
    Miloš Fišera<br />
    <br />
    IČO: 48994464<br />
    DIČ: CZ7601053174
</article>
