---
title: Skákací hrady Jičín
---

<% data.atrakce.each do |item| %>
  <article>
    <h2><%= link_to item.name, "/atrakce/#{item.slug}" %></h2>
    <p><%= item.description %></p>
    <div class="preview">
      <% photos(item.photos_slug).each do |photo| %>
      <img src="<%= photo %>" />
      <% end %>
    </div>
  </article>
<% end %>

<article id="o-nas">
  <h2>O nás</h2>
  <p></p>
</article>

<article id="kontakt">
  <h2>Kontakt</h2>
  <p>
    Jana Fišerová<br />
    608 05 05 53
  </p>
</article>
