---
title: Skákací hrady Jičín
---

<article class="jumbo">
  <img class="preview" src="http://www.atrakcereatek.cz/fotky22130/fotos/_vyr_991.jpg" />
  <div>
    <h2>Novinka - Velká skluzavka</h2>
    <p>
      Představujeme vám velkou skluzavku vhodnou na veřejné akce.<br />
      Parametry: 7 m délka, 4,5 m šířka a 6 m výška.
    </p>
  </div>
</article>

<% data.atrakce.select { |item| !item.hidden }.each do |item| %>
  <article>
    <h2><%= link_to item.name, "/atrakce/#{item.slug}" %></h2>
    <div class="description">
      <% link_to "/atrakce/#{item.slug}", class: "image-link" do %>
        <img class="preview" src="<%= photos(item.photos_slug).first %>" />
      <% end %>
      <p><%= item.description %></p>
    </div>
  </article>
<% end %>

<article id="o-nas">
  <h2>O nás</h2>
  <p></p>
</article>

<article id="kontakt">
  <h2>Kontakt</h2>
  <p>
    Jana Fišerová<br />
    608 05 05 53
  </p>
  <h6>Fakturační údaje</h6>
  <p>
    Miloš Fišera<br />
    <br />
    IČO: 48994464<br />
    DIČ: CZ7601053174
</article>
